<div class="container mt-5">
  <h1><%= @place["name"] %></h1>
  <a href="/entries/new?place_id=<%= @place["id"] %>" class="btn btn-primary my-4">New Post</a>
  
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% for entry in @entries %>
      <% if entry["user_id"] == @current_user %>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= entry["title"] %></h5>
              <p class="card-text"><small class="text-muted"><%= entry["occurred_on"]%></small></p>
            </div>
            <% if entry.uploaded_image.attached? %>
              <img src="<%= url_for(entry.uploaded_image) %>" class="img-fluid">
            <% else %>
              <img src="https://t3.ftcdn.net/jpg/04/34/72/82/360_F_434728286_OWQQvAFoXZLdGHlObozsolNeuSxhpr84.jpg" class="img-fluid">
            <% end %>
            <div class="card-body">
              <p class="card-text"><%= entry["description"] %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="mt-3">
    <a href="/places" class="btn btn-secondary">Back to All Places</a>
  </div>
</div>
